Accessing data from the database.

In [20]:
from home_messages_db import HomeMessagesDB

db = HomeMessagesDB('sqlite:///myhome.db')

df = db.get_smartthings()

df.head()

,id,loc,level,name,epoch,capability,attribute,value,unit
0,1,bathroom,1st,Bathroom (flower),1665346388,switch,switch,off,
1,2,bathroom,1st,Bathroom (flower),1665346402,switch,switch,on,
2,3,bathroom,1st,Bathroom (flower),1665347032,switch,switch,off,
3,4,bathroom,1st,Bathroom (flower),1665347091,switch,switch,on,
4,5,bathroom,1st,Bathroom (sink),1665347673,switch,switch,on,